<div class="container-fluid">
    <div class="well flex">
        <div>
            <h3>{{weather.responseBody.name}} ({{weather.codeRequested}})</h3>
            <h4>Current conditions: {{currClimate}}</h4>
            <h4>Temperatures today:</h4>
            <p>
                Current {{weather.responseBody.main.temp}}
                - Max {{weather.responseBody.main.temp_max}}
                - Min {{weather.responseBody.main.temp_min}}
            </p>
            <p>
                <a [routerLink]="['/forecast',weather.codeRequested]">Show 5-day forecast for {{weather.responseBody.name}}</a>
            </p>
        </div>
        <div>
            <span class="close" (click)="closeBox()">×</span>
            <img src="{{imgUrl}}">
        </div>
    </div>
</div>